[Desktop Entry]
Version=1.0
Type=Link
Name=Connecting a HD44780 Display to a Raspberry PI
Comment=
Icon=user-bookmarks
URL=https://michlstechblog.info/blog/raspberry-pi-connecting-a-hd44780-display-with-i2c-bus/
